/* Estilos básicos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Estilos para el encabezado */
h1 {
    color: rgba(0, 0, 0, 0.85);
    background-color: pink;
    padding: 10px;
    border-radius: 2rem;
    text-align: center;
}

/* Contenedor principal de las secciones, configurado como flexbox */
#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

/* Estilos para cada sección */
.section {
    background-color: pink;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

/* Estilos para las etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Estilos para los botones */
button {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: mediumslateblue;
}

/* Contenedor de resultados anteriores */
#savedResultsContainer {
    margin-top: 20px;
    width: 40%;
    text-align: center;
    background-color: pink;
    border-radius: 1.5rem;
}

/* Estilos para la lista de resultados */
#savedResults {
    margin-top: 10px;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}

#toggleSavedResultsBtn{
    margin-bottom: .5rem;
    width: 40%;
    height: auto;
    font-weight: bold;
}
